In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(data = np.random.randint(0,9,(5,3)), columns = ['a', 'b', 'c'])
df

   a  b  c
0  6  5  7
1  1  5  6
2  2  6  5
3  6  3  0
4  0  6  5

In [4]:
# Delete a prticular column
df.drop(columns = ['b'])

   a  c
0  6  7
1  1  6
2  2  5
3  6  0
4  0  5

In [5]:
df.drop(index = [2,3])

   a  b  c
0  6  5  7
1  1  5  6
4  0  6  5

In [6]:
# Repetitive set of codes that is written once and can be called multiple times . It is meant for 
# desired set of results

In [7]:
# f-strings and or formatted strings: Ther are meant to put variable in printy statement
# f'normal text to be printed but but whenever you want to print a variabale put it in {variable name}

In [8]:
studentlist = ["student_A", "student_B", "student_C"]

In [9]:
print(f"Hello {studentlist[0]}")
print(f"Hello {studentlist[1]}")
print(f"Hello {studentlist[2]}")

Hello student_A
Hello student_B
Hello student_C

Functions

In [10]:
# def is a reserved keyword which stands for definition
# syntax
# def function_name():

# Function Name Rules-
# 1. Don't use any special character except underscore
# 2. You can use munbers in the name but don't start with it
# 3. Best Practise- Don't start your function name with capital letters

# Print_hello vs printHello (Any one can be used for function name)

In [11]:
# code line 1
# code line 2
# code line 3
# code line 4
# code line 5
# def functionname
#     funcbody 1
#     funcbody 2
# code line........

In [12]:
def print_hello(): # given function name # stats the function name line is over and we have started our func body
  print ("Hello Students!!") # this is a function body

In [13]:
print_hello()

Hello Students!!

In [14]:
# Personalised Message
def print_hello(Student_Name):
  print("***************")
  print(f"Hello {Student_Name}") # f-string is mandatory. They allow varaibles in print statement
  print("***************")

In [15]:
print_hello("Uttam")

***************
Hello Uttam
***************

In [16]:
# Print function just provuides a print statement it does not hand out results
# return function can provide result and output in the function

In [17]:
def my_add(x, y):
  print (x+y)

In [18]:
a = my_add(3, 4) # Its just a print statement as the out shows none
print(a)

7
None

In [19]:
def my_add(x, y):
  return (x+y)

In [20]:
b = my_add(3, 4) # The output and print statement are both same unlike previous print option
print(b)

7

In [21]:
# Make calculator function
# 1. It should perform add/sub/multiply/division
# 2. It should ask for input
# 3. simply return results

In [41]:
def calculator(x, y, ops):
  """
This is a simple claculator implemented for understanding the function. 
It can do 4 operation:
1. Use "add" for addition
2. Use "sub" for subtraction
3. Use "mul" for multiplication
4. Use "div" for division

Input:
x -First value
y - Second Value
ops - Thrid Value

Returns:
The valid results of operation

Error code:
"The operation is not defined, try again"
  """
  if ops == "add":
    return(x+y)
  elif ops == "sub":
    return (x-y)
  elif ops == "mul":
    return (x*y)
  elif ops == "div":
    return(x/y)
  else:
    return("The operation is not defined, try again")

In [38]:
calculator(20, 4, "div")

5.0

In [39]:
calculator(20, 4, "average")

'The operation is not defined, try again'

In [43]:
def calculator2(x, y, ops = "add"): # Here ops ="add" is s not default argument and not positional argument, so it is not mandetory
  """
This is a simple claculator implemented for understanding the function. 
It can do 4 operation:
1. Use "add" for addition
2. Use "sub" for subtraction
3. Use "mul" for multiplication
4. Use "div" for division

Input:
x -First value
y - Second Value
ops - Operations to perform, which is by default "add"

Returns:
The valid results of operation

Error code:
"The operation is not defined, try again"
  """
  if ops == "add":
    return(x+y)
  elif ops == "sub":
    return (x-y)
  elif ops == "mul":
    return (x*y)
  elif ops == "div":
    return(x/y)
  else:
    return("The operation is not defined, try again")

In [44]:
calcualtor(10, 5)

NameError: ignored

In [45]:
calculator2(10,5)

15

In [46]:
# All the positional arguments should come on first
# And the default arguments should come at last

In [77]:
df = pd.DataFrame(np.random.randint(1, 100, (10, 1)), columns = ["Price"])
df

   Price
0     21
1     52
2     32
3     66
4     30
5      7
6     16
7     68
8     96
9     12

In [78]:
# Problem Statment
# Price < 50, give a discount of 5%
# Price > 50, give a discount of 10%

In [79]:
def price(c):
  if c < 50:
    return (0.05 * c + c )
  elif 100> c> 50:
    return ( 0.1* c + c)
  elif c == 50:
    return(c)
  else:
    return ("Error")

In [80]:
df["New Price"]= df.Price.apply(price) # apply the function in all data frame

In [81]:
df

   Price  New Price
0     21      22.05
1     52      57.20
2     32      33.60
3     66      72.60
4     30      31.50
5      7       7.35
6     16      16.80
7     68      74.80
8     96     105.60
9     12      12.60

In [85]:
def price2(c): # To give a message in return or print function, use f
  if c < 50:
    return (f"Price is {0.05 * c + c }")
  elif 100> c> 50:
    return (f"Price is {0.1* c + c}")
  elif c == 50:
    return(f"Price is {c}")
  else:
    return ("Error")

In [86]:
price2(20)

'Price is 21.0'

# OOPs- Object Oriented Programmings