Supervised Machine Learning

In [2]:
# Regression - Its a part of ML ecosystem which creates a linear relation within input and output.
# And while prediction it regresses a continuous variable

In [4]:
# House Price Prediction 

# -------Independant Variable -------------| Dependant Variables
# --------Input Parameter------------------| ---Output---
# No. of rooms / Area / Parking / Location | House Price

In [8]:
# What is Linear
# Directly or Inversely Proportional
# If there are two variables x, y; then a proportinalo change in x will bring about a proportional chnage in y

In [10]:
# Mathematical Representation

# y = mx + c
# y = output
# x = input
# m = slope
# c = constant

In [11]:
# For multiple input variables 
# y = m1x1 + m2x2 + m3x3 + m4x4 + c1+ c2+ c3 + c4
# y = m1x1 + m2x2 + m3x3 + m4x4 + c

In [12]:
# House Price = m1*(no_of_rooms) + m2*(area) + m3*(parking) + m4* (location) + c

In [13]:
# Pearson Coorelation 
# m = Sy/Sx * r

In [14]:
# r = SUM((x-x_mean)*(y-y_mean))/ ((SUM(x-x_mean)^2) *(SUM(y-y_mean)^2))^ 0.5

In [38]:
# For multiple variables

# m1 = Sy/Sx1 * r1
# r1 = SUM((x1-x1_mean)*(y-y_mean))/ ((SUM(x1-x1_mean)^2) *(SUM(y-y_mean)^2))^ 0.5

# m2 = Sy/Sx2 * r2
# m3 = Sy/Sx3 * r3
# m4 = Sy/Sx4 * r4

# c1 = y_mean - x1_mean * m1
# c2 = y_mean - x2_mean * m2
# c3 = y_mean - x3_mean * m3
# c4 = y_mean - x4_mean * m4

In [17]:
import pandas as pd
import numpy as np

In [19]:
df = pd.DataFrame(np.random.randint(0, 9, (5,2)), columns= ['x', 'y'])
df

   x  y
0  6  2
1  1  7
2  2  5
3  4  2
4  2  0

In [20]:
df['x_m'] = df.x.mean()
df['y_m'] = df.y.mean()

In [21]:
df

   x  y  x_m  y_m
0  6  2  3.0  3.2
1  1  7  3.0  3.2
2  2  5  3.0  3.2
3  4  2  3.0  3.2
4  2  0  3.0  3.2

In [22]:
df['x-x_m'] = df.x - df.x_m
df['y-y_m'] = df.y - df.y_m

In [23]:
df

   x  y  x_m  y_m  x-x_m  y-y_m
0  6  2  3.0  3.2    3.0   -1.2
1  1  7  3.0  3.2   -2.0    3.8
2  2  5  3.0  3.2   -1.0    1.8
3  4  2  3.0  3.2    1.0   -1.2
4  2  0  3.0  3.2   -1.0   -3.2

In [24]:
df['x-x_m_*_y-y_m'] = df['x-x_m'] * df['y-y_m']

In [25]:
df

   x  y  x_m  y_m  x-x_m  y-y_m  x-x_m_*_y-y_m
0  6  2  3.0  3.2    3.0   -1.2           -3.6
1  1  7  3.0  3.2   -2.0    3.8           -7.6
2  2  5  3.0  3.2   -1.0    1.8           -1.8
3  4  2  3.0  3.2    1.0   -1.2           -1.2
4  2  0  3.0  3.2   -1.0   -3.2            3.2

In [26]:
df['x-x_m^2'] = df['x-x_m']**2
df['y-y_m^2'] = df['y-y_m']**2

In [27]:
df

   x  y  x_m  y_m  x-x_m  y-y_m  x-x_m_*_y-y_m  x-x_m^2  y-y_m^2
0  6  2  3.0  3.2    3.0   -1.2           -3.6      9.0     1.44
1  1  7  3.0  3.2   -2.0    3.8           -7.6      4.0    14.44
2  2  5  3.0  3.2   -1.0    1.8           -1.8      1.0     3.24
3  4  2  3.0  3.2    1.0   -1.2           -1.2      1.0     1.44
4  2  0  3.0  3.2   -1.0   -3.2            3.2      1.0    10.24

In [28]:
num = df['x-x_m_*_y-y_m'].sum()

In [29]:
den = (df['x-x_m^2'].sum() * df['y-y_m^2'].sum())**0.5

In [30]:
num, den

(-11.0, 22.199099080818574)

In [36]:
# r = SUM((x-x_mean)*(y-y_mean))/ ((SUM(x-x_mean)^2) *(SUM(y-y_mean)^2))^ 0.5
# Pearson Coefficient

r = num/den
r

-0.4955156044825574